<html>

<style>
  .issue-report {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .issue-report th, .issue-report td{
    width: 15.5%;
  }
</style>
<% if @statuses.empty? or all_rows.empty? %>
    <p><i><%=l(:label_no_data)%></i></p>
<% else %>

<div style="width: 100%; text-align: center; margin-bottom: 3%; " >
  <% @issue_priorities.each_with_index do |p, i|
    %>
    <button type="button" class="btn btn-danger" style="font-size: 1.2em;margin-left: 3%;cursor: pointer;">
      <%=p[0]%> <span style="color: <%=@colors[i]%>"> (<%= p[1] %>) </span>
    </button>
  <% end %>
</div> 

<div class="issue-report-graph hide-when-print" style="width: 80%; margin: auto; background-color: ghostwhite; padding: 0px;">
  <canvas id="issues_by_status"></canvas>
</div>

<table class="list issue-report" style=" border: none; border-top: 1px dotted lightgray; padding-bottom: 3%; border-bottom: 1px dotted lightgray; margin-top: 5%;">
  <caption style="font-size: 1.2em; font-weight: bold; text-align: center;width: 100%;"> Issue Status by Project <caption>
    <thead><tr>
    <th></th>
    <% for status in @statuses %>
    <th><%= status.name %></th>
    <% end %>

    <th><strong><%=l(:label_total)%></strong></th>
    </tr></thead>
    <tbody>
    <% all_rows.each do |project, rows, data| %>
      <% for row in rows %>
      <tr>
        <td class="name"><%= link_to project.name, "/projects/#{project.name.downcase}" %></td>
        <% for status in @statuses %>
          <td><%= aggregate_link data, { field_name => row.id, "status_id" => status.id }, aggregate_path(project, field_name, row, :status_id => status.id, :subproject_id => nil) %></td>
        <% end %>
        <td><%= aggregate_link data, { field_name => row.id }, aggregate_path(project, field_name, row, :status_id => "*", :subproject_id => nil) %></td>
      </tr>
      <% end %>
    <% end %>

  </tbody>
</table>

<%#= javascript_tag do %>

<script>
  function renderChart(canvas_id, chartData, chartType, options){
        
    new Chart($(canvas_id), {
      type: chartType,
      data: chartData,
      options: options,
    });
  }


  $(document).ready(function(){
    
    var chartData1 = {
        labels: <%= raw @pie_labels.to_json %>,
        legend: false,
        datasets: [{
            label: 'Total Issues',
            data: <%= raw @pie_rows.to_json %>,
            backgroundColor: <%= raw @colors.to_json %>,
            borderColor: <%= raw @colors.to_json %>,
            borderWidth: 1
        }]
    }

    options1 = {
      maintainAspectRatio: false,
      responsive: true,
      plugins: {
        legend: {
          position: "right",
          barWidth: "20",
        },
        title: {
          display: true,
          text: "Issues by Category",
          font: {
            size: 15,
            weight: "bold"
           }
        }
      },
      
    }

    var chartData2 = {
      labels: <%= raw @district_labels.to_json %>,
      legend: false,
      datasets: [{
          label: 'Reported issues',
          data: <%= raw @data_rows.to_json %>,
          backgroundColor: <%= raw @colors.to_json %>,
          borderColor: <%= raw @colors.to_json %>,
          borderWidth: 1
      }]
    }

    options2 = {
      maintainAspectRatio: false,
      responsive: true,
      plugins: {
        legend: false,
        title: {
          display: true,
          text: "Top 5 Districts with Most Reported Issues",
          font: {
            size: 15,
            weight: "bold"
           }
        }
      },
      
    }

    renderChart("#issues_by_status",  chartData1, "pie", options1);
    renderChart("#issues_by_district", chartData2, "bar", options2);

  });
<% end %>
<% content_for :header_tags do %>
  <%= javascript_include_tag "chart.min" %>
<% end %>

</script>
</html>
